@charset "utf-8";
/* CSS Document */

.navegacao ul li:first-child a {
	color: #df5599;
	cursor: default;
}
.menu-movel li:first-child a {
	background: #df5599;
	color: #ffffff;
	cursor: default;
}